html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: none;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
span {
    color: blue;
    text-align: center;
    display: none;
    font-size: 40pt;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
    font-family: monospace;
    display:none;
}
